<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name ="HockeyPlayerDatabase"
         connectionString="Data Source=sharp.kst.fri.uniza.sk;Initial Catalog=potst2017_JanosovaLenkaDb;Persist Security Info=True;User ID=potst2017_JanosovaLenka;Password=557653;MultipleActiveResultSets=True"
         providerName="System.Data.SqlClient"
    />
  </connectionStrings>
</configuration>